<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Roman Belyakovsky</string>
	<key>Builder Version</key>
	<string>12604.1.38.1.7</string>
	<key>CFBundleDisplayName</key>
	<string>Login helper for bank Millennium </string>
	<key>CFBundleIdentifier</key>
	<string>pl.bankmillennium</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.4</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>0</integer>
		<key>Global Page</key>
		<string>main.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>script.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Set millecode and document number in settings and get these fields filled in automatically</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>bankmillennium.pl</string>
				<string>www.bankmillennium.pl</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/hryamzik/millenniumlogin.safariextension</string>
</dict>
</plist>
